:root {
    --cell-side-length: 50px;
}

body {
    width: max-content;
    user-select: none;
}

#field {
    border-spacing: 0px;
    position: relative;
}

#field .cell {
    display: inline-block;
    width: var(--cell-side-length);
    height: var(--cell-side-length);
    padding: 0;
    background-color: #9EF79E;
}

.cell > * {
    width: var(--cell-side-length);
}

#creatures > * {
    width: var(--cell-side-length);
    position: absolute;
}