$field-color: rgb(160, 206, 160);
$entity-size: 32px;
$field-width: $entity-size * 500;
$field-height: $entity-size * 500;
$pace-pig: 0.45s;
$pace-cow: 0.5s;
$pace-horse: 0.35s;
$pace-bear: 0.4s;
$pace-tiger: 0.2s;
$pace-fox: 0.25s;
$pace-human: 0.3s;

* {
    box-sizing: border-box;
}

body {
    user-select: none;
}

#stats {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 550px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 8px 0 0 8px;
    border-collapse: collapse;

    tr, td {
        border: 1px black solid;
    }
}

#stats:hover {
    opacity: 0.1;
}

#field {
    width: $field-width;
    height: $field-height;
    position: relative;
    background-color: $field-color;

    * {
        width: $entity-size;
        position: absolute;
        z-index: 1;
        background-size: cover;

        .healthbar {
            position: absolute;
            z-index: 2;
            left: 1px;
            bottom: 4px;
            width: 30px;
            height: 3px;
            border: 1px black solid;

            .healthbar-inner {
                width: 100%;
                height: 100%;
                background-color: green;
            }
        }

        .info {
            position: absolute;
            z-index: 2;
            left: -16px;
            bottom: 22px;
            width: $entity-size * 2;
            font-size: 10px;

            * {
                display: inline-block;
                text-align: center;
                padding: 0 1px;
            }

            .age {
                background-color: black;
                color: white;
                width: 52px;
                height: 12px;
            }

            .gender {
                width: 12px;
                height: 12px;
                margin-left: 52px;
            }
    
            .status {
                position: relative;
                top: 12px;
                background-color: white;
                color: black;
                width: 64px;
            }
        }

        .flipped {
            transform: scaleX(-1);
        }

        .food-value {
            position: absolute;
            z-index: 2;
            width: 16px;
            left: 8px;
            bottom: 12px;
            background-color: white;
            color: black;
            text-align: center;
        }
    }


    .pig {
        transition: top $pace-pig, left $pace-pig;
    }

    .cow {
        transition: top $pace-cow, left $pace-cow;
    }

    .horse {
        transition: top $pace-horse, left $pace-horse;
    }

    .bear {
        transition: top $pace-bear, left $pace-bear;
    }

    .tiger {
        transition: top $pace-tiger, left $pace-tiger;
    }

    .fox {
        transition: top $pace-fox, left $pace-fox;
    }

    .human {
        transition: top $pace-human, left $pace-human;
    }
}