$field-color: #9EF79E;
$entity-size: 32px;
$field-width: $entity-size * 500;
$field-height: $entity-size * 500;
$pace-pig: 1.5s;
$pace-cow: 2s;
$pace-horse: 0.75s;
$pace-bear: 0.5s;
$pace-tiger: 0.3s;
$pace-fox: 0.4s;
$pace-human: 1s;

body {
    user-select: none;
}

#field {
    width: $field-width;
    height: $field-height;
    position: relative;
    background-color: $field-color;

    * {
        width: $entity-size;
        position: absolute;
        z-index: 1;
        background-size: cover;

        .healthbar {
            position: absolute;
            z-index: 2;
            left: 1px;
            bottom: 4px;
            width: 30px;
            height: 3px;
            border: 1px black solid;

            .healthbar-inner {
                width: 100%;
                height: 100%;
                background-color: green;
            }
        }

        .status {
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 12px;
            width: $entity-size;
            font-size: 9px;
            text-align: center;
        }

        .flipped {
            transform: scaleX(-1);
        }
    }


    .pig {
        transition: top $pace-pig, left $pace-pig;
    }

    .cow {
        transition: top $pace-cow, left $pace-cow;
    }

    .horse {
        transition: top $pace-horse, left $pace-horse;
    }

    .bear {
        transition: top $pace-bear, left $pace-bear;
    }

    .tiger {
        transition: top $pace-tiger, left $pace-tiger;
    }

    .fox {
        transition: top $pace-fox, left $pace-fox;
    }

    .human {
        transition: top $pace-human, left $pace-human;
    }
}