:root {
    --cell-side-length: 50px;
    --pace-pig: 3s;
}

body {
    width: max-content;
    user-select: none;
}

#field {
    border-spacing: 0px;
}

#field .cell {
    display: inline-block;
    position: relative;
    width: var(--cell-side-length);
    height: var(--cell-side-length);
    padding: 0;
    background-color: #9EF79E;
}

.cell > * {
    width: var(--cell-side-length);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
}

.cell > * > .image {
    width: var(--cell-side-length);
}

.cell > * > .healthbar {
    position: absolute;
    left: 5px;
    bottom: 50px;
    width: 40px;
    height: 5px;
    border: 1px black solid;
}

.cell > * > .healthbar > .healthbar-inner {
    width: 100%;
    height: 5px;
    background-color: green;
}

.cell > * > .flipped {
    transform: scaleX(-1);
}

.cell > .pig {
    transition: top var(--pace-pig), right var(--pace-pig), bottom var(--pace-pig), left var(--pace-pig);
}

.moveTop {
    top: auto;
    bottom: var(--cell-side-length);
}

.moveRight {
    right: auto;
    left: var(--cell-side-length);
}

.moveBottom {
    bottom: auto;
    top: var(--cell-side-length);
}

.moveLeft {
    left: auto;
    right: var(--cell-side-length);
}